body {
	margin: 0;
}

nav {
	background-color: #bac5d6;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

nav ul li {
	display: inline;
	font-size: 0;
}

nav ul li a {
	text-decoration: none;
	color: #495c7a;
	padding: 15px;
	display: inline-block;
	font-size: 16px;
	text-transform: capitalize;
	transition: 0.5s;
}

/*pseudo class*/
nav ul li a:hover {
	background-color: #bac5b6;
	border-bottom: 5px solid #828c7f;
	padding-bottom: 10px;
}

/*link, visited, hover, active*/

/*focus*/
input:focus {
	background-color: red;
	color: white;
}